<child id="{{$id}}{{/id}}">
  {{<inheritance/grandChild}}
    {{$val}}a{{/val}}
  {{/inheritance/grandChild}}

  {{<inheritance/grandChild}}
    {{$val}}b{{/val}}
  {{/inheritance/grandChild}}
</child>
